:root{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#6B7280;
}

.container{
    text-align: center;
    margin-top:23px;
}

table{
    margin:auto;
}

input{
    font-size:31px;
    height:50px;
    border:5px solid var(--darker);
    border-radius:21px;
    border-width: medium;
    background-color: rgb(167, 207, 227);
    opacity:0.6;
}

button{
    font-size: 40px;
    background:#e4e1e9;
    width:90px;
    height:80px;
    border-radius:18px;
    cursor:pointer;
}

.calculator{
    display:inline-block;
    border-radius:50px;
    padding: 20px;
    background-color:var(--dark);
    height:500px;
    border:3px solid var(--darkest);
}

h1{
    font-size: 50px;
    font-weight: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #8690ba;
}